/************************/
/* BACKGROUND AND FRAME */
/************************/

html {
    /* background-color: #320252;        */
    background: linear-gradient(217deg, rgba(85, 37, 130,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(15, 58, 107,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(53, 3, 107,.8), rgba(0,0,255,0) 70.71%);
}

body {
    align-items: center;
    padding-top: 9rem;
    padding-bottom: 4rem;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    line-height: 150%;
    background: transparent;
    /* background: url(../../static/Images/nba-background-small.jpg) no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% auto; */
}

.row {
    padding: 5px;
    justify-content: center;
}

.box {
    background-color: #fefefe;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    margin-right: 20px;
}

.footer { 
    margin-top: 2rem;
    position:relative;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
    text-align: center;
}

/*****************/
/* TEXT AND FONT */
/*****************/

h1 { 
    font-size: 6em;
    color: white;
    filter: drop-shadow(2px 2px 1px black);
}

h2 {
    font-size: 3em;
    color: white;
    filter: drop-shadow(1px 1px 1px black)
}

.main-text {
    line-height: 150%;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    filter: drop-shadow(1px 1px 1px black)
}

.search-text {
    font-weight:600;
    color: black;
    text-align: left;
    font-size: 20px;
    padding: 0px;
    margin-right: 0px;
}

/***************/
/* CHART STYLE */
/***************/

.bar-chart {
    max-width: 50% ;
}

.chart {
    max-width: 100%;
}

#responsive-chart {
    height: 100%;
}